* {
    box-sizing: border-box;
}

h1 {
    padding-top: 3%;
    color: #7289da;
    align-content: center;
}

a {
    z-index: 5;
    color: #f06d06;
    text-decoration: none;
}

#boxLayout {
    margin-left: 10%;
    margin-right: 10%;
}

.storeListBox {
    padding: 1.5em;
    border: 7px transparent;
    display: block;
    width: 33%;
    height: 30em;
    float: left;
    margin: -1px 0 0 -1px;
    color: black;
    background: linear-gradient(transparent, transparent 50%, #333 50%, #333);
    background-size: 100% 200%;
    transition: all 0.2s ease;
    animation: down-bump 0.7s ease;
    position: relative;
    
}

.storeListBox h2 {
    font-weight: 400;
    letter-spacing: -1.5px;
    line-height: 1.2;
}

.storeListBox:hover {
    background-position: 100% 100%;
    animation: up-bump 0.4s ease;
}

.storeListBox:hover h2 {
    color: #48ad26;
}

.storeListBox:hover h2 span {
    color: white;
}

.storeListBox h3 {
    color: white;
}

.storeListBox:hover h3 {
    color: #999;
}

.storeListBox h4 {
    font-size: 100%;
    color: white;
}

.storeListBox h5 {
    color: #999;
    font-size: 1em;
    margin-top: 2em;
}

@keyframes up-bump {
    0% {
        padding-top: 1.5em;
    }
    50% {
        padding-top: 2em;
    }
    100% {
        padding-top: 1.5em;
    }
}

@keyframes down-bump {
    0% {
        padding-top: 1.5em;
    }
    50% {
        padding-top: 2em;
    }
    100% {
        padding-top: 1.5em;
    }
}

/* background */
body {
    margin-top: 1%;
    /* The image used */
    background-image: url("../images/UnturnedWashington.jpg");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;
    -ms-animation: fadein 2s;
    animation: fadein 2s;
}