/*main*/

body {
    padding-top: 2%;
    padding-bottom: 5%;
    background-color: #2a2a30;
    color: white;
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Verdana';
}

.main {
    
}

#Footer {
    color: #2a2a30;
}

#clipboard {
    visibility: hidden;
}
