/*main*/

body, html{
    padding-top: 1%;
    background-color: #2a2a30;
    color: white;
    font-family: 'Verdana';
    height: 100%;
    margin: 0;
}

#Footer {
    color: #2a2a30;
}

#clipboard {
    visibility: hidden;
}

.background {
    /* The image used */
    background-image: url("../UnturnedSummerImage.JPG");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
 
    position: relative;

    z-index: 1;
}

#boxLayout{
    margin-left: 10%;
    margin-right: 10%;
}