* {
    box-sizing: border-box;
}

h1{
    color:#7289da;
    align-content: center;
}

a {
    color: #f06d06;
    text-decoration: none;
}

.serverListBox {
    padding: 2em;
    border: 7px solid #ccc;
    display: block;
    width: 50%;
    height: 300px;
    float: left;
    margin: -1px 0 0 -1px;
    color: black;
    background: linear-gradient( white, white 50%, #333 50%, #333);
    background-size: 100% 200%;
    transition: all 0.2s ease;
    animation: down-bump 0.4s ease;
}

.serverListBox h2 {
    font-weight: 400;
    letter-spacing: -1.5px;
    line-height: 1.2;
}

.serverListBox:hover {
    background-position: 100% 100%;
    animation: up-bump 0.4s ease;
}

.serverListBox:hover h2 {
    color: yellow;
}

.serverListBox:hover h2 span {
    color: white;
}

.serverListBox:hover h3 {
    color: #999;
}

.serverListBox h4 {
    color: white;
}

.serverListBox online {
    color: white;
}

.serverListBox:hover online{
    color: #48ad26;
}

.serverListBox offline {
    color: white;
}

.serverListBox:hover offline {
    color: red;
}

@keyframes up-bump {
    0% {
        padding-top: 2em;
    }
    50% {
        padding-top: 1.5em;
    }
    100% {
        padding-top: 2em;
    }
}

@keyframes down-bump {
    0% {
        padding-top: 2em;
    }
    50% {
        padding-top: 2.5em;
    }
    100% {
        padding-top: 2em;
    }
}